.DS_Store
static/.DS_Store
static/interpolation/stacked/Icon
static/**
!static/css/
!static/css/bulma.min.css
!static/css/index.css
!static/images/
!static/images/favicon.svg
!static/images/ablation_traj_count.png
!static/images/comparison.png
!static/images/d4rl-plot.png
!static/images/dsrl-plot.png
!static/images/unitree2-walking.gif
!static/images/vel-profile.png
!static/images/rollouts/
!static/images/rollouts/adapt-walker2d-defect.gif
!static/images/rollouts/adapt-walker2d-finetuned.gif
!static/images/rollouts/adapt-walker2d-original.gif
!static/images/rollouts/d4rl-halfcheetah.gif
!static/images/rollouts/d4rl-hopper.gif
!static/images/rollouts/d4rl-walker2d.gif
!static/images/rollouts/dsrl-carcircle.gif
!static/images/rollouts/dsrl-cargoal.gif
!static/images/rollouts/dsrl-pointcircle.gif
!static/images/rollouts/dsrl-pointgoal.gif
!static/js/
!static/js/fontawesome.all.min.js
!static/videos/
!static/videos/AnimatedFig3-MPDiffuser.mov
!static/videos/car.gif
!static/videos/fetch-pick-and-place-grid.mp4
!static/videos/kitchen-4x.mp4
!static/videos/teaser.mov
