#jax==0.4.38
flax==0.10.2
orbax-checkpoint==0.10.3
chex
wandb==0.19.1
coloredlogs 
h5py 
tensorboard 
tensorboardX
tqdm
hydra-core
coloredlogs
matplotlib
gymnasium==0.28.1
gym==0.26.2
safety-gymnasium==0.4.0
dsrl==0.1.0
mujoco-py==2.1.2.14